#nav
{
    background: rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: dashed;
}

#nav :hover
{
color: ghostwhite;

}
#title1
{
justify-content: center;
display: flex;
font-size: 30px;
padding: 10px;
font-family: 'Press Start 2P', cursive;
text-decoration: underline;
color: yellow;
}
#img1
{
width: 25%;
height: 25%;
border-radius: 8px;
justify-content: right;
}
#para1
{
background-color: black;
justify-content: center;
font-family: 'Press Start 2P', cursive;
color: ghostwhite;
padding-left: 250px;
padding-right: 250px;
background: rgba(0,0,0,0.2);
}

body {
    background-image: url("https://wallpaperaccess.com/full/2122578.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
   }
